* {
  margin: 0;
  padding: 0;

}

.site {
    background-image: url(../img/cinema2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}


.name{
    color: #9D9999;
    display: flex;
}

.senha{
    color: #9D9999;
    display: flex;
}

.login{
    color: #000;
}

.tudo{
    background-color: rgba(255, 255, 255, 0.685);
    margin: 0 3em;
    border: 1px dotted #0000;

}
