* {
  margin: 0;
  padding: 0;
}

.site {
    background-image: url(../img/cinema2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.voltar {
    color: rgba(255, 255, 255, 0);
}

.tudo1{
    background-color: rgba(255, 255, 255, 0.685);
    margin: 6em 18em;
    font-size: 20px;
    width: 600px;
}
.name{
    margin:0 23.39%;
    color: #9D9999;
    display: flex;
}

.senha{
    color: #9D9999;
    display: flex;
}

.login{
    color: #000;
}


input{
    margin: 5px;
    border-radius: 5px;
    height: 25px;
    width:22vw;
}
.cadastrar{
    text-decoration: none;
}
.button{

    background:rgba(3, 3, 3, 0.685);
    border:0;
    color:#fff;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
  }

.button:active{
 background:#27ae60;
}

 .footerL {
    color: white;
    background-color: black;
    padding: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
