.paginaAdministrador{
    background-color: #000;
}

.adm{

  text-align: center;
}
 
  .footer {
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid #ddd;
    
  }

  .tabelaLista{
    border-collapse: collapse;
    border-spacing: 0;
    width:  100%;
    justify-items: center;
    border: 1px solid #ddd;
    color: #fff;
    margin-right: 30%;

  }

.tabelaGeneros{
    border-collapse: collapse;
    border-spacing: 0;
    width:  100%;
    justify-items: center;
    border: 1px solid #ddd;
    color: #fff;
}

  th, td {
    text-align: center;
    padding: 16px;
  }

  .titulo {
    font-size: 1.3em;
  }

  .data {
    font-size: 1.3em;
  }

  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.561);
  }
  h2{
      text-align: center;
      padding: 2em;
  }
  